*,
*::before,
*::after {
  box-sizing: border-box;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
header{
  display:flex;
  justify-content:space-between;
}
body .neon-con {
  width: 80%;
  padding:2em;
  margin: auto;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  border-radius:1em;
  box-shadow:box-shadow: 0 0 1px #ddd, 0 0 1px #eee, 0 0 2px #fff;
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
  /* overflow: hidden; */
  background-image: linear-gradient(to right, #28313b, #485461);
}
body .neon-con .neon {
  width: 30%;
  height: 28%;
  margin-bottom: 20px;
  display:block ;
  padding:5px;
  animation-name: bounce;
  animation-duration:5s;
  animation-iteration-count: infinite
  /* display: flex;
    justify-content: space-between;
    align-items: center; */
}
body .neon-con .neon span {
  padding: 1px;
  height: 5vh;
  width: 90%;
  margin-bottom:1em;
  border:1px solid #777;
  margin: auto;
  text-decoration: none;
  font-size: 14px;
  
  color: #777;
  box-shadow: 0 0 3px #ddd, 0 0 2px #eee, 0 0 6px #fff;
  text-align: center;
  display: flex;
  align-items: center;
  transition: 1s;
  transition-delay: 0.3s;
}
body .neon-con .neon span:hover {
  box-shadow: 0 0 4px #ddd, 0 0 10px #eee, 0 0 30px #fff;
  background-color: #ed2a5;
  color:#ccc;
  
}
body .neon-con .neon   span:hover polyline {
  stroke-dashoffset: -360;
}
body .neon-con .neon svg {
  position: absolute;
  left:1.2em;
  
}
body .neon-con .neon svg polyline {
  fill: transparent;
  stroke: #ff6f61;
  stroke-width: 4px;
  stroke-dasharray: 90 960;
  stroke-dashoffset: 40;
  transition: 0.8s ease-in-out;
}
